<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Peticiones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!afiliado.estado">
    <img src="https://static.wixstatic.com/media/ec379b_4f2c63c74a3f498fa30faeb89db5761e~mv2.gif" />
    <ion-card-header>
      <ion-card-title>Espera</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Su registro esta en revisión por los administradores, en caso de ser aceptado, estos se pondrán en contacto con usted.
    </ion-card-content>
  </ion-card>
  
  <ion-list *ngFor="let servicio of servicioArray; let i = index">
    
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="servicio.imagen">
      </ion-avatar>
      <ion-label>
        <h2>Servicio {{ servicio.nombreServicio }}</h2>
        <h3>
          <ion-icon name="locate-outline"></ion-icon>
          {{ servicio.direccion }}
        </h3>
        <!-- [routerLink]="[ '/detalles-servicio', servicio.id ]"  -->
        <ion-button color="primary" (click)="aceptarServicio( servicio, i )">
          Aceptar
        </ion-button>
        <ion-button color="danger" (click)="borrarElemento( i )">
          Rechazar
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-list>
  

  
</ion-content>