<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Servicios realizados </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>

    <ion-icon name="card-outline" slot="start"></ion-icon>
    <ion-label>Comisión a pagar: ${{ comisionTotal | number }}</ion-label>
    <ion-button color="primary" (click)="presentAlertPrompt()">Pagar</ion-button>
  </ion-item>

  <ion-list *ngFor="let servicio of servicioArray; let i = index; let peticion of peticionArray">
    
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="servicio.imagen">
      </ion-avatar>
      <ion-label>
        <h2>Servicio {{ servicio.nombreServicio }}</h2>
        <h3>
          <ion-icon name="locate-outline"></ion-icon>
          {{ servicio.direccion }}
        </h3>
        <ion-button color="primary" (click)="mefue( servicio, peticion )">
          ¿Como te fue?
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
