<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/peticiones"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item lines="none">
      <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
      <ion-label>
        Solicitado
      </ion-label>
    </ion-item>
    <ion-label>
      Solicitado
    </ion-label>

  </ion-list>

  <ion-button color="danger">Finalizar Servicio</ion-button>

</ion-content>
